<!DOCTYPE html>
<html>
  <head>
    <title>Database With Flask</title>
  </head>
  <body>
    <h1>Titanic Data Visualization</h1>
    <div>
      <div style="float: left">
        <h2>Gender Distribution</h2>
        <img src="/gender_pie_chart/" alt="Titanic Gender Pie Chart" />
      </div>

      <div style="float: right">
        <div style="float: left">
          <h2>Passenger Class Distribution</h2>
          <img src="/class_bar_graph/" alt="Titanic Class Bar Graph" />
        </div>
      </div>

      <div style="float: left">
        <h2>Passenger Class and Gender Distribution</h2>
        <img
          src="/class_gender_bar_graph/"
          alt="Titanic Class Gender Bar Graph"
        />
      </div>
    </div>
  </body>
</html>
